www/changelog.txt
*.html
!/www/*.html
*~
.#*
#*#
*.1
*.xml
*.bak
*.gladep

# The autotools stuff... what a pollution!
Makefile
Makefile.in
/ltmain.sh
/send-dist.sh
/mkinstalldirs
/missing
/m4/*
/intltool-*
/install-sh
/gnome-doc-utils.make
/depcomp
/configure
/config.sub
/config.h.in
/config.guess
/aclocal.m4
/py-compile
/po/stamp-it
/po/POTFILES
/autom4te.cache
/config.h
/config.log
/config.status
/data/ghh.pc
/libtool
/stamp-*
/ui/defs.py
